<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfgc.zfgbb.migrator.mappers.MigratorTimestampMapper">

  <update id="setMessageTimestamps">
    update zfgbb.message
    set created_ts = #{createdTs,jdbcType=TIMESTAMP},
        updated_ts = #{updatedTs,jdbcType=TIMESTAMP}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>

  <update id="setMessageHistoryTimestamps">
    update zfgbb.message_history
    set created_ts = #{createdTs,jdbcType=TIMESTAMP},
        updated_ts = #{updatedTs,jdbcType=TIMESTAMP}
    where message_history_id = #{messageHistoryId,jdbcType=INTEGER}
  </update>

  <update id="setKarmaTimestamps">
    update zfgbb.karma
    set created_ts = #{createdTs,jdbcType=TIMESTAMP},
        updated_ts = #{updatedTs,jdbcType=TIMESTAMP}
    where karma_id = #{karmaId,jdbcType=INTEGER}
  </update>

</mapper>
