<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfgc.zfgbb.mappers.custom.UserProfileHydrationMapper">
  <resultMap id="UserAggregateResultMap" type="com.zfgc.zfgbb.dbo.UserAggregateDbo">
    <association property="user" javaType="com.zfgc.zfgbb.dbo.UserDbo">
      <id column="user_user_id" property="userId" jdbcType="INTEGER" />
      <result column="user_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="user_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="user_sso_key" property="ssoKey" jdbcType="VARCHAR" />
      <result column="user_active_flag" property="activeFlag" jdbcType="BIT" />
      <result column="user_display_name" property="displayName" jdbcType="VARCHAR" />
      <result column="user_user_name" property="userName" jdbcType="VARCHAR" />
      <result column="user_migration_hash" property="migrationHash" jdbcType="VARCHAR" />
      <result column="user_password_hash" property="passwordHash" jdbcType="VARCHAR" />
      <result column="user_password_algo" property="passwordAlgo" jdbcType="VARCHAR" />
      <result column="user_password_salt" property="passwordSalt" jdbcType="VARCHAR" />
      <result column="user_locked_until_ts" property="lockedUntilTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="user_failed_login_count" property="failedLoginCount" jdbcType="INTEGER" />
      <result column="user_password_changed_ts" property="passwordChangedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="user_tokens_valid_after_ts" property="tokensValidAfterTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
    </association>
    <association property="bio" javaType="com.zfgc.zfgbb.dbo.UserBioInfoDbo">
      <id column="bio_user_id" property="userId" jdbcType="INTEGER" />
      <result column="bio_custom_title" property="customTitle" jdbcType="VARCHAR" />
      <result column="bio_personal_text" property="personalText" jdbcType="VARCHAR" />
      <result column="bio_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="bio_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="bio_signature" property="signature" jdbcType="VARCHAR" />
      <result column="bio_migration_hash" property="migrationHash" jdbcType="VARCHAR" />
      <result column="bio_avatar_id" property="avatarId" jdbcType="INTEGER" />
      <result column="bio_date_registered" property="dateRegistered" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="bio_last_login" property="lastLogin" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="bio_real_name" property="realName" jdbcType="VARCHAR" />
      <result column="bio_birth_date" property="birthDate" jdbcType="DATE" />
      <result column="bio_website_title" property="websiteTitle" jdbcType="VARCHAR" />
      <result column="bio_website_url" property="websiteUrl" jdbcType="VARCHAR" />
      <result column="bio_location" property="location" jdbcType="VARCHAR" />
      <result column="bio_time_format" property="timeFormat" jdbcType="VARCHAR" />
      <result column="bio_hide_email_flag" property="hideEmailFlag" jdbcType="BIT" />
      <result column="bio_hide_online_status" property="hideOnlineStatus" jdbcType="BIT" />
      <result column="bio_gender_id" property="genderId" jdbcType="INTEGER" />
      <result column="bio_preferred_timezone" property="preferredTimezone" jdbcType="VARCHAR" />
    </association>
    <association property="avatar" javaType="com.zfgc.zfgbb.dbo.AvatarDbo">
      <id column="avatar_avatar_id" property="avatarId" jdbcType="INTEGER" />
      <result column="avatar_url" property="url" jdbcType="VARCHAR" />
      <result column="avatar_active_flag" property="activeFlag" jdbcType="BIT" />
      <result column="avatar_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="avatar_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="avatar_migration_hash" property="migrationHash" jdbcType="VARCHAR" />
      <result column="avatar_content_resource_id" property="contentResourceId" jdbcType="INTEGER" />
    </association>
    <association property="contact" javaType="com.zfgc.zfgbb.dbo.UserContactInfoDbo">
      <id column="contact_user_id" property="userId" jdbcType="INTEGER" />
      <result column="contact_email_address_id" property="emailAddressId" jdbcType="INTEGER" />
      <result column="contact_allow_email_flag" property="allowEmailFlag" jdbcType="BIT" />
      <result column="contact_allow_pm_flag" property="allowPmFlag" jdbcType="BIT" />
      <result column="contact_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="contact_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="contact_migration_hash" property="migrationHash" jdbcType="VARCHAR" />
    </association>
    <association property="email" javaType="com.zfgc.zfgbb.dbo.EmailAddressDbo">
      <id column="email_email_address_id" property="emailAddressId" jdbcType="INTEGER" />
      <result column="email_email_address" property="emailAddress" jdbcType="VARCHAR" />
      <result column="email_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="email_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="email_spammer_flag" property="spammerFlag" jdbcType="BIT" />
      <result column="email_migration_hash" property="migrationHash" jdbcType="VARCHAR" />
    </association>
    <association property="settings" javaType="com.zfgc.zfgbb.dbo.UserSettingsDbo">
      <id column="settings_user_id" property="userId" jdbcType="INTEGER" />
      <result column="settings_theme" property="theme" jdbcType="VARCHAR" />
      <result column="settings_smiley_set" property="smileySet" jdbcType="VARCHAR" />
      <result column="settings_notify_announcements_flag" property="notifyAnnouncementsFlag" jdbcType="BIT" />
      <result column="settings_notify_send_body_flag" property="notifySendBodyFlag" jdbcType="BIT" />
      <result column="settings_send_happy_birthday_flag" property="sendHappyBirthdayFlag" jdbcType="BIT" />
      <result column="settings_created_ts" property="createdTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
      <result column="settings_updated_ts" property="updatedTs" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
    </association>
  </resultMap>
  <select id="hydrateUsers" resultMap="UserAggregateResultMap">
    SELECT
      user_table.user_id AS user_user_id,
      user_table.created_ts AS user_created_ts,
      user_table.updated_ts AS user_updated_ts,
      user_table.sso_key AS user_sso_key,
      user_table.active_flag AS user_active_flag,
      user_table.display_name AS user_display_name,
      user_table.user_name AS user_user_name,
      user_table.migration_hash AS user_migration_hash,
      user_table.password_hash AS user_password_hash,
      user_table.password_algo AS user_password_algo,
      user_table.password_salt AS user_password_salt,
      user_table.locked_until_ts AS user_locked_until_ts,
      user_table.failed_login_count AS user_failed_login_count,
      user_table.password_changed_ts AS user_password_changed_ts,
      user_table.tokens_valid_after_ts AS user_tokens_valid_after_ts,
      bio_table.user_id AS bio_user_id,
      bio_table.custom_title AS bio_custom_title,
      bio_table.personal_text AS bio_personal_text,
      bio_table.created_ts AS bio_created_ts,
      bio_table.updated_ts AS bio_updated_ts,
      bio_table.signature AS bio_signature,
      bio_table.migration_hash AS bio_migration_hash,
      bio_table.avatar_id AS bio_avatar_id,
      bio_table.date_registered AS bio_date_registered,
      bio_table.last_login AS bio_last_login,
      bio_table.real_name AS bio_real_name,
      bio_table.birth_date AS bio_birth_date,
      bio_table.website_title AS bio_website_title,
      bio_table.website_url AS bio_website_url,
      bio_table.location AS bio_location,
      bio_table.time_format AS bio_time_format,
      bio_table.hide_email_flag AS bio_hide_email_flag,
      bio_table.hide_online_status AS bio_hide_online_status,
      bio_table.gender_id AS bio_gender_id,
      bio_table.preferred_timezone AS bio_preferred_timezone,
      avatar_table.avatar_id AS avatar_avatar_id,
      avatar_table.url AS avatar_url,
      avatar_table.active_flag AS avatar_active_flag,
      avatar_table.created_ts AS avatar_created_ts,
      avatar_table.updated_ts AS avatar_updated_ts,
      avatar_table.migration_hash AS avatar_migration_hash,
      avatar_table.content_resource_id AS avatar_content_resource_id,
      contact_table.user_id AS contact_user_id,
      contact_table.email_address_id AS contact_email_address_id,
      contact_table.allow_email_flag AS contact_allow_email_flag,
      contact_table.allow_pm_flag AS contact_allow_pm_flag,
      contact_table.created_ts AS contact_created_ts,
      contact_table.updated_ts AS contact_updated_ts,
      contact_table.migration_hash AS contact_migration_hash,
      email_table.email_address_id AS email_email_address_id,
      email_table.email_address AS email_email_address,
      email_table.created_ts AS email_created_ts,
      email_table.updated_ts AS email_updated_ts,
      email_table.spammer_flag AS email_spammer_flag,
      email_table.migration_hash AS email_migration_hash,
      settings_table.user_id AS settings_user_id,
      settings_table.theme AS settings_theme,
      settings_table.smiley_set AS settings_smiley_set,
      settings_table.notify_announcements_flag AS settings_notify_announcements_flag,
      settings_table.notify_send_body_flag AS settings_notify_send_body_flag,
      settings_table.send_happy_birthday_flag AS settings_send_happy_birthday_flag,
      settings_table.created_ts AS settings_created_ts,
      settings_table.updated_ts AS settings_updated_ts
    FROM zfgbb.user user_table
    LEFT JOIN zfgbb.user_bio_info bio_table ON user_table.user_id = bio_table.user_id
    LEFT JOIN zfgbb.avatar avatar_table ON bio_table.avatar_id = avatar_table.avatar_id AND avatar_table.active_flag = true
    LEFT JOIN zfgbb.user_contact_info contact_table ON user_table.user_id = contact_table.user_id
    LEFT JOIN zfgbb.email_address email_table ON contact_table.email_address_id = email_table.email_address_id
    LEFT JOIN zfgbb.user_settings settings_table ON user_table.user_id = settings_table.user_id
    WHERE user_table.user_id IN
    <foreach item="item" collection="userIds" separator="," open="(" close=")">#{item}</foreach>
  </select>
</mapper>